.frame1 {
  min-height: 100vh;
  width: 100vw;
  background-color: gray;
}

.spotlight {
  height: 100cqh;
  left: -137cqw;
  width: 200cqw;
  background-color: #ffffe7;
  transform: rotate(30deg);
}

.image {
  object-fit: contain;
  position: absolute;
}

.pineappleNoSunglasses {
  width: 144cqw;
  height: auto;
  right: -50cqw;
  top: -20cqh;
}

.sunglasses {
  width: 108cqw;
  height: auto;
  transform-origin: 23.35% 100%;
  top: 17cqh;
  left: -95cqw;
}

.movement-container {
  right: -4cqw;
}
