.frame1 {
  min-height: 100vh;
  width: 100vw;
  background-color: gray;
}

.spotlight {
  min-height: 100vh;
  width: 100vw;
  background-color: #ffffe7;
  transform: rotate(30deg);
  left: -28vh;
  top: -28vh;
}

.image {
  object-fit: contain;
  position: absolute;
}

.pineappleNoSunglasses {
  width: 220vw;
  height: auto;
  right: -45vh;
  top: -9vh;
}

.sunglasses {
  width: 220vw;
  height: auto;
  right: -45vh;
  top: -9vh;
}

.panel {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
