.angry {
  width: 100cqw;
  transform-origin: center center;
  top: -15cqh;
}

.top-bar {
  min-height: 100cqh;
  width: 100cqw;
  background-color: #111111;
  opacity: 0.8;
  left: 0;
}

.bottom-bar {
  min-height: 100cqh;
  width: 100cqw;
  background-color: #111111;
  opacity: 0.8;
  transform: rotate(92deg);
  left: 0;
}
