.tunnel {
  top: 0;
}

.container {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.racoon {
  left: -60cqw;
  top: 55cqh;
  z-index: 2;
}

.canvas {
  width: 100cqw;
}

.tunnel-inside {
  z-index: 1;
}

.tunnel-outside {
  z-index: -1;
  transform: scale(1.5);
}

.background {
  background-color: #513320;
  width: 100cqw;
  height: 100cqh;
  position: absolute;
  z-index: -2;
  top: 0;
}
