.run-container {
  position: absolute;
  width: 100%;
}

.together-container {
  position: relative;
}

.pineapple {
  position: absolute;
  left: -35%;
}

.racoon {
  position: absolute;
  left: 20%;
  top: 30vh;
  transform: scale(1.75);
  transform-origin: left center;
}

.tunnel-exit {
  width: 100%;
  height: 100%;
}
