.run-container {
  left: 100%;
  top: 50%;
  position: absolute;
  width: 100%;
  transform: scale(1);
  transform-origin: left top;
}

.together-container {
  position: relative;
}

.pineapple {
  position: absolute;
  left: -35%;
}

.racoon {
  position: absolute;
  left: 20%;
  top: 30vh;
  transform: scale(1.75);
  transform-origin: left top;
}

.tunnel-exit {
  top: 5%;
  height: auto;
  width: 30vw;
}