.run-container {
  position: absolute;
  width: 100cqw;
}

.together-container {
  position: relative;
}

.pineapple {
  position: absolute;
  left: -35cqw;
}

.racoon {
  position: absolute;
  left: 20cqw;
  top: 30cqh;
  transform: scale(1.75);
  transform-origin: left center;
}

.tunnel-exit {
  width: 100cqw;
  height: 100cqh;
  position: absolute;
}
