.dancing-pineapple {
  width: 93cqw;
  top: 33cqh;
  left: 50cqw;
  aspect-ratio: 0.58019954;
  transform: translate(-50%, -50%);
}
.dancing-strawberry {
  width: 30cqw;
  right: 0;
  top: 31cqh;
}
.dancing-orange {
  width: 55cqw;
  left: 0;
  bottom: 0;
}
.dancing-pepper {
  width: 45cqw;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.dancing-avocado {
  width: 35cqw;
  top: 33cqh;
  left: 0;
}
.party-background {
  background-color: #4d3423;
}
.color-highlight {
  z-index: 1;
}

.color-highlight.dancing-pepper {
  z-index: 3;
}

.start-hidden {
  opacity: 0;
}
