.run-container {

  position: absolute;
  width: 100cqw;
  top: 40cqh;
}

.together-container {
  position: relative;
}

.pineapple {
  position: absolute;
  left: 5cqw;
  top: 18cqh;
  width: 50cqw;
}

.racoon {
  position: absolute;
  left: 45cqw;
  top: 21cqh;
  width: 50cqw;
}

.background {
  background-color: #aab77f;
  width: 100cqw;
  height: 100cqh;
  position: absolute;
  z-index: -2;
  top: 0;
}

.flowers {
  height: 30cqh;
  top: 50cqh;
  width: auto;
  position: absolute;
}

.trees {
  height: 60cqh;
  top: 14cqh;
  width: auto;
  position: absolute;

}

.mountains {
  height: 40cqh;
  width: auto;
  position: absolute;
  left: 0cqw;
}
