.panel-container {
  --padding-size: 16px;
  height: 100vh;
  width: 100vw;
  padding: var(--padding-size);
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
}

.panel {
  container-type: inline-size;
  overflow: hidden;
  max-width: calc(100vw - (var(--padding-size) * 2));
  background-color: #111111;
  aspect-ratio: 0.5;
  height: calc(100vh - (var(--padding-size) * 2));
  position: absolute;
}
