.demo-panel-container {
  --padding-size: 16px;
  height: 100vh;
  width: 100vw;
  padding: var(--padding-size);
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
}

.demo-panel {
  container-type: size;
  overflow: hidden;
  background-color: #111111;
  aspect-ratio: 0.5;
  max-width: calc(100vw - (var(--padding-size) * 2));
  height: calc(100vh - (var(--padding-size) * 2));
  position: absolute;
}


.pineapple {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
}

.racoon {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
}

.relative-container {
  position: relative;
  width: 200px;
}
