.run-container {
  left: 65%;
  position: absolute;
  width: 100%;
  top: 50vh;
}

.together-container {
  position: relative;
}

.pineapple {
  position: absolute;
  left: 15vh;
  top: 18vh;
  width: 20vh;
}

.racoon {
  position: absolute;
  left: 35vh;
  top: 21vh;
  width: 20vh;
}

.background {
  background-color: #aab77f;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  top: 0;
}

.trees {
  height: 60vh;
  top: 18vh;
  width: auto;
  position: absolute;
  left: 0vw;
}

.mountains {
  height: 40vh;
  width: auto;
  position: absolute;
  left: 0;
}
