.run-container {
  left: 120%;
  position: absolute;
  width: 100%;
}

.together-container {
  position: relative;
}

.pineapple {
  position: absolute;
  left: -35%;
}

.racoon {
  position: absolute;
  left: 35%;
  top: 20%
}
