.dancing-pineapple {
  width: 80%;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dancing-strawberry {
  width: 30%;
  right: 0;
  top: 27%;
}
.dancing-orange {
  width: 55%;
  left: 0;
  bottom: 0;
}
.dancing-pepper {
  width: 45%;
  bottom: 0;
  right: 0;
}
.dancing-avocado {
  width: 35%;
  top: 33%;
  left: 0;
}
.start-hidden {
  opacity: 0;
}
.party-background {
  background-color: #4d3423;
}
.color-highlight {
  z-index: 1;
}
