.frame1 {
  min-height: 100vh;
  width: 100vw;
  background-color: blue;
}

.frame2 {
  min-height: 100vh;
  width: 100vw;
  background-color: red;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.image {
  object-fit: contain;
}
