.ipod {
  z-index: 1;
  left: 5cqw;
  transform: translateY(-50%);
  top: 58cqh;
}

.plug {
  left: 5cqw;
  width: 100%;
  transform-origin: 53% 0%;
}

.hand {
  z-index: 2;
  top: 25cqh;
}

.together {
  width: 100cqw;
}
