.ipod {
  z-index: 1;
  left: 50cqw;
  transform: translate(-50%, -50%);
  top: 65cqh;
  width: 60cqw;
  aspect-ratio: 0.43876518;
}

.plug {
  left: 5cqw;
  width: 100%;
  transform-origin: 53% 0%;
}

.hand {
  z-index: 2;
  top: 25cqh;
}

.together {
  width: 100cqw;
}
